import React, { Component } from 'react';

class ${upperName} extends Component {
    render() {
        return (
            <div>
                <p>
                    ${upperName} works!
                </p>
            </div>
        )
    }
}

export default ${upperName};